.tableContainer {
  margin-top: 10px;
  text-align: left;
  width: 100%;
  border-spacing: 0;
}

.tableRowHeader {
  background-color: rgb(236, 236, 236);
}

.tableRowHeader {
  background-color: rgb(236, 236, 236);
}

.tableCell {
  border: 0.5px solid rgb(213, 213, 213);
  padding: 8px 10px;
  font-weight: unset;
}

.tableRowContentContainer {
  min-height: 1em;
}
