.NotionBlocksPreTagLineBreak {
	padding: 0;
	margin: 0;
	position: relative;
	line-break: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.NotionBlocksMentionTriggerContainer {
	text-decoration: underline;
}

.NotionBlocksMentionOverlayAvatarImage {
	border-radius: 50%;
	box-shadow: 1px 1px 1px 1px rgba(20, 20, 20, 0.1);
	height: 30px;
}

.NotionBlocksMentionTooltipContentContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
}

.NotionBlocksParagraphPreTag {
	line-height: 1.75em;
	margin-top: 5px;
	margin-bottom: 5px;
}

.NotionBlocksHeader1Tag {
	font-size: 2.75em;
	font-weight: 200;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.NotionBlocksHeader2Tag {
	font-size: 2.25em;
	font-weight: 200;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.NotionBlocksHeader3Tag {
	font-size: 1.5em;
	font-weight: 200;
	margin-top: 10px;
	margin-bottom: 10px;
}
