.NotionBlocksPreTagLineBreak {
  margin: 0;
  padding: 0;
  position: relative;
  line-break: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}