.NumberListPreTag {
	line-break: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	display: list-item;
	margin-left: 18px;
  font-family: sans-serif;
	line-height: 1.75em;
	margin-top: 3px;
	margin-bottom: 3px;
}

.NumberListOLContainer {
	margin-block-start: unset;
	margin-block-end: unset;
	margin-inline-start: unset;
	margin-inline-end: unset;
	padding-inline-start: unset;
}
