.BulletListPreContainer {
	line-break: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
  display: list-item;
	margin-left: 18px;
	line-height: 1.75em;
	margin-top: 3px;
	margin-bottom: 3px;
}

.BulletListPreContainer::marker {
	font-size: 1.5em;
}
